<!DOCTYPE html>
<html>
    <head>
        <title>Henry Peteet Bio</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/Version1.css">
    <body><div class = "body">
        <h1>Henry Vizurraga Peteet</h1>
        <h5>Bio</h5>
        {{ navbar }}
        <div class = "box">
        <h2>Education</h2> <h3>Georgia Institute of Technology</h3>
        <div class = "indent"><h4> Computer Science Major (Class of 2017)</h4></div>
        </div>

        <div class = "box">
        <h2>Interests</h2>
        <ul>
            <li>Simulation</li>
            <li>Graphics</li>
            <li>Animation/3d Graphics</li>
            <li>Cryptography</li>
            <li>Security</li>
        </ul>
        </div>

        <div class = "box">
        <h2>Skills</h2>
        
        <h3>Programming Languages</h3>
        <div class = "indent">
            <h4>Proficient</h4>
            <ul>
                <li>Java</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
            <h4>Some work in</h4>
            <ul>
                <li>C++</li>
                <li>C#</li>
            </ul>
        </div>
        <h3>Software</h3>
        <ul>
            <li>git & github</li>
            <li>Unity3D</li>
            <li>Adobe CS 3 or later</li>
            <li>Autodesk Inventor</li>
            <li>AutoCAD Mechanical</li>
            <li>AppEngine</li>
            <li>Microsoft Excel</li>

        </ul>
        </div>

        <div class = "box">
        <h2>Projects</h2>
        <ul>
            <li><a href = "/works#Tetrabble">Tetrabble</a></li>
            <li><a href = "/works#MovementThroughTheVoid">
            Movement Through The Void</a></li>
        </ul>
        </div>

        <div class = "box">
        <h2>Mission Statement</h2>
        <p> I want to develop graphics and simulation methods in addition to working on simulating real organisms and growth patterns. Currently, I want to work on physics simulations and unique graphics that grow (trees, rivers, clouds).
        </p>
        </div>

    </div></body>
</html>