<!DOCTYPE html>
<html>
<head>
  <title>Henry V. Peteet</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
  <div class="na    <a href="/">
      <div class="nav-tab">
        <h3> Bio </h3>
      </div>
    </a>
    <a href="/projects">
      <div class="nav-tab">
        <h3> Projects </h3>
      </div>
    </a>
    <a href="https://docs.google.com/document/d/123x0ctqc0v73OTxP2F3t8iAQvLnGivUNNkHWoP0PH7w/edit?usp=sharing" target="_blank">
      <div class="nav-tab">
        <h3> Resume </h3>
      </div>
    </a>
    <a href = "https://github.com/hvpeteet" target="_blank">
      <div class="nav-tab">
        <h3> Github </h3>
      </div>
    </a>
    <a href = "http://www.linkedin.com/pub/henry-peteet/46/703/3a0" target="_blank">
      <div class="nav-tab"> 
        <h3> Linkedin </h3>
      </div>
    </a>
  </div>
  <div class="body">
    <div id="bio"class="box">
      <h2>Bio</h2>
      <h5>Henry Vizurraga Peteet</h5>
      <img id="headshot" src="/static/images/headshot.jpg">
      <br>
      <div class="topic">
         <p>I am a third year Computer Science student at the Georgia 
         Institute of Technology. My interests include cloud technologies, 
         machine learning, and computer languages Check out my projects
         or my resume for more information.</p>
      </div>
    </div>
  </div>
</body>
</html>   </div>
    </div>
  </div>
</body>
</html>