<!DOCTYPE html>
<html>
<head>
  <title>Henry V. Peteet</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
  <div class="navbar">
    <a href="/">
      <div class="nav-tab">
        <h3> Projects </h3>
      </div>
    </a>
    <a href="https://docs.google.com/document/d/123x0ctqc0v73OTxP2F3t8iAQvLnGivUNNkHWoP0PH7w/edit?usp=sharing">
      <div class="nav-tab">
        <h3> Resume </h3>
      </div>
    </a>
    <a href = "mailto:hvpeteet@gmail.com">
      <div class="nav-tab">
        hvpeteet@gmail.com
      </div>
    </a>
    <a href = "https://github.com/hvpeteet">
      <div class="nav-tab">
        Github
      </div>
    </a>
    <a href = "http://www.linkedin.com/pub/henry-peteet/46/703/3a0">
      <div class="nav-tab"> 
        Linkedin
      </div>
    </a>
  </div>
  <div class="body">
    <div class="box">
      <h2>Contact</h2>
      <div class="navbar">
        <a href = "mailto:hvpeteet@gmail.com">
          <div class="nav-tab">
            hvpeteet@gmail.com
          </div>
        </a>
        <a href = "https://github.com/hvpeteet">
          <div class="nav-tab">
            Github
          </div>
        </a>
        <a href = "http://www.linkedin.com/pub/henry-peteet/46/703/3a0">
          <div class="nav-tab"> 
            Linkedin
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
</html>