<!DOCTYPE html>
<html>
<head>
  <title>Henry V. Peteet</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
  <div class="navbar">
    <a href="/">
      <div class="nav-tab">
        <h3> Bio </h3>
      </div>
    </a>
    <a href="/projects">
      <div class="nav-tab">
        <h3> Projects </h3>
      </div>
    </a>
    <a href="https://docs.google.com/document/d/123x0ctqc0v73OTxP2F3t8iAQvLnGivUNNkHWoP0PH7w/edit?usp=sharing" target="_blank">
      <div class="nav-tab">
        <h3> Resume </h3>
      </div>
    </a>
    <a href = "https://github.com/hvpeteet" target="_blank">
      <div class="nav-tab">
        <h3> Github </h3>
      </div>
    </a>
    <a href = "http://www.linkedin.com/pub/henry-peteet/46/703/3a0" target="_blank">
      <div class="nav-tab"> 
        <h3> Linkedin </h3>
      </div>
    </a>
  </div>
  <div class="body">
    <div class="box">
      <h2>Cloud text editor</h2>
        <a href="https://ninja-monkeys-777.appspot.com" target="_blank">
          <img class="project-img" id="ninja-monkeys-screenshot" src="/static/images/ninja-monkeys-hello.go.png">
        </a>
        <p>
          A text editor that allows you to edit code in your Google drive with syntax highlighting.
          This is an ongoing project that started with a Hack GT entry written mainly in python and javascript. 
          (2014 Hack GT entry).
        </p>
    </div>
    <div class="box">
      <h2>Fractal generator</h2>
        <a href="https://github.com/hvpeteet/golang-fractal-generator" target="_blank">
          <img class="project-img" id="frac" src="/static/images/frac.png">
        </a>
        <p>
          A fractal generator written in go that will render any fractal given the equation and graphing window.
        </p>
    </div>
    <div class="box">
      <h2>Geopardy</h2>
        <a href="http://geopardygame.appspot.com" target="_blank">
          <img class="project-img" id="frac" src="/static/images/Geopardy.png">
        </a>
        <p>
          A mash up between Jeopardy and Google Search. Guess that Search term!!
          A game made on App Engine with the Google Search API.
        </p>
    </div>
    <div class="box">
      <h2>Tetrabble</h2>
      <a href="http://tetrabble.appspot.com/" target="_blank">
        <img class="project-img" id="tetrabble-img" src="static/images/TetrabbleScreenshot.png">
      </a>
      <p>
        A game which is a cross between Tetris and Scrabble. Written mostly in python and javascript this 
        game runs on App Engine and was one of my earliest projects.
      </p>
    </div>
    <div class="box">
      <h2>Dark matter simulation</h2>
        <a href="https://github.com/hvpeteet/Movement-Through-The-Void" target="_blank">
          <img class="project-img" id="galaxy" src="/static/images/DarkMatterGalaxy.png">
        </a>
        <p>
          A science fair project that investigates the distribution of dark matter within a galaxy.
          Written in python this project not only calculates the velocity curves and corrects for the presence of dark matter,
          but also creates visuals with VPython to better visualize what the distribution looks like.
        </p>
    </div>
  </div>
</body>
</html>