<!DOCTYPE html>
<html>
  <head>
    <title>Henry Peteet Resume</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/Version1.css">
  </head>
  <body>
    <div class = "body">
      <h1>Henry Vizurraga Peteet</h1>
      <h5>Resume</h5>
      {{ navbar }}
      <div class = "box">
        <a class = "center" href = "static/images/Resume.pdf" download="HenryPeteetResume.pdf">Download </a>
        <br><br>
        <iframe src = "static/images/Resume.pdf" scrolling="no"></iframe><br><br>
        <a class = "center" href = "static/images/Resume.pdf" download="HenryPeteetResume.pdf">
        Download</a>
      </div>
    </div>
  </body>
</html>