<!DOCTYPE html>
<html>
    <head>
        <title>Henry Peteet Works</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/Version1.css">
    <body><div class = "body">
        <h1>Henry Vizurraga Peteet</h1>
        <h5>Sample Works</h5>
        {{ navbar }}

        <div class = "box" id = "Tetrabble">
        <h2>Tetrabble</h2>
        <a href = "http://tetrabble.appspot.com/">
        <img src = "static/images/TetrabbleTitle.png"></a>
        <p>A game which is a cross between Tetris and Scrabble</p>
        </div>

        <div class = "box" id = "MovementThroughTheVoid">
        <h2>Movement Through the Void</h2>
        <img src = "static/images/DarkMatterGalaxy.png">
        <p>The purpose of our project was to show evidence of dark matter through observation of discrepancies between the predicted Keplerian galactic orbits and the corresponding real data. 
To accomplish this, we simulated galaxy dynamics using the programming language Python and the VPython module to run the visuals. Important parts of the program include a body class; acceleration due to gravity, movement from acceleration, and orbit velocity functions; and a Kuzmin disk system for generating random bodies. Combined, these and proper testing procedures led us to accurately simulate a randomly generated disk galaxy with accurate orbit velocities.
The data for this project was collected by observing the movement of the galaxy simulation visual and from the curve that showed how the velocities of bodies changed according to their radial location in the galaxy. 
Ultimately, we found that our animation of the movement of our generated galaxy and its corresponding velocity graph accurately reflected current scientific research in the same realm as this project. The observed velocities curve reflected the "real world" velocities curve, and we could clearly see the difference in orbit velocities of outer stars as opposed to the inner ones. This accounted for the discrepancies mentioned earlier, and provided the evidence of dark matter we'd hoped to find.
</p>
        </div>


    </div></body>
</html>